.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #45c7ee; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #f4f4f4;
  background-color: #333; }

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #45c7ee; }

.bg-main {
  background: #45c7ee;
  color: #000; }

.bg-dark {
  background: #333;
  color: #fff; }

.bg-light {
  background: #f4f4f4;
  color: #000; }

.bg-medium {
  background: #ccc;
  color: #000; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.buttom-line {
  height: 2px;
  width: 3rem;
  background: #45c7ee;
  display: block;
  margin: 0 auto 1rem auto; }

#work-a .buttons {
  margin-bottom: 20px; }
  #work-a .buttons a {
    padding: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    font-weight: bold; }
    #work-a .buttons a:hover {
      border-bottom: #45c7ee solid 2px; }

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem; }

.item {
  position: relative;
  background: #45c7ee;
  overflow: hidden;
  border-right: #333 solid 1px; }
  .item::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); }
  .item:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg); }
  .item:hover .item-image {
    transform: scale(1.2); }
  .item:hover .item-text {
    opacity: 1;
    transform: translateY(0); }
  .item-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1); }
  .item-image:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden; }
  .item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    object-fit: cover; }
  .item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 450ms; }
    .item-text a {
      color: #fff;
      text-decoration: none;
      padding: 0.5rem; }
  .item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
    .item-text-wrap i {
      transition: all 0.5s ease-in-out;
      color: #333; }
      .item-text-wrap i:hover {
        color: #ffbc00; }
  .item-text-title {
    font-size: 2.5rem;
    padding: 0 1rem;
    margin: 5px 0 0 0; }
  .item-text-category {
    text-transform: uppercase;
    opacity: 0.8;
    margin: 0; }
    .item-text-category span {
      display: inline-block;
      background: #e7dfdf;
      color: #333;
      margin-right: 0.4rem;
      padding: 0 0.4rem;
      border-radius: 5px;
      letter-spacing: 2px;
      font-size: 0.85rem;
      font-weight: bold; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2,
h3,
h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase; }

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  transition: 0.5s; 

  position: fixed;
  top: 0;
  font-weight: bold;
  z-index: 10;
}
  #main-nav .top {
    background: transparent;
    position: fixed;
    padding: 1rem 1.5rem; }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #ffbc00;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
    #main-nav a:hover {
      border-color: #ccc; }
    #main-nav a.current {
      border-color: #45c7ee; }

#header-home .top {
  background: transparent; }

#home-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  background: #333;
  opacity: 1;
  transition: 0.5s; }
  #home-nav #logo {
    margin-right: 30px; }
  #home-nav ul {
    display: flex; }
  #home-nav li {
    padding: 1rem 1.5rem; }
  #home-nav a {
    text-decoration: none;
    color: rgb(235, 158, 15);
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
    #home-nav a:hover {
      border-color: #ccc; }
    #home-nav a.current {
      border-color: #45c7ee; }

#header-home {
  background: url("../img/showcase3.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #fff; }
  #header-home .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }
    #header-home .header-content p {
      color: #333;
      font-weight: bold; }
    #header-home .header-content a {
      font-weight: bold; }
    #header-home .header-content .header-social {
      margin: 15px; }
      #header-home .header-content .header-social a {
        padding: 7px;
        transition: all 0.5s ease-in-out; }
        #header-home .header-content .header-social a:hover {
          color: #25d7e4; }

#header-inner {
  background: url("../img/showcase3.jpg") no-repeat 20% 0%/cover;
  height: 5.5rem;
  border-bottom: 3px solid #45c7ee; }

#home-a {
  background-color: #ccc; }
  #home-a .specials {
    margin-top: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr); }
    #home-a .specials .fas {
      color: #45c7ee;
      padding-bottom: 0.4rem; }
    #home-a .specials .fab {
      color: #45c7ee;
      padding-bottom: 0.4rem; }
    #home-a .specials h3 {
      margin-bottom: 1rem; }
    #home-a .specials span {
      display: inline-block;
      background: #f4f4f4;
      color: #333;
      margin: 0.2rem 0.2rem;
      padding: 0 0.4rem;
      border-radius: 5px;
      letter-spacing: 2px;
      font-size: 0.85rem;
      font-weight: bold; }

#home-c .link a {
  font-weight: bold; }

#home-c .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center; }
  #home-c .process-step {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    background: #45c7ee;
    color: #000;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    padding: 1rem;
    transition: all 1s; }
  #home-c .process-icon {
    border-radius: 50%;
    background: #000;
    color: #fff;
    padding: 0.1rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
    line-height: 70px;
    text-align: center;
    position: relative;
    transition: all 1s; }
    #home-c .process-icon:hover {
      background: #45c7ee;
      width: 250px;
      height: 250px;
      padding: 0.1rem;
      line-height: 90px; }
      #home-c .process-icon:hover .process-step {
        position: absolute;
        background: #333;
        color: #fff; }

#resume .link a {
  font-weight: bold;
  margin-bottom: 2rem; }

#resume .resume-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }
  #resume .resume-content .resume-education {
    grid-column: 1 / span 1;
    border-right: #333 solid 1px;
    border-bottom: #333 solid 1px; }
  #resume .resume-content .resume-education-content {
    grid-column: 2 / span 2;
    border-right: #333 solid 1px;
    border-bottom: #333 solid 1px; }
  #resume .resume-content .resume-experience {
    grid-row: 2 / span 1;
    border-right: #333 solid 1px;
    border-bottom: #333 solid 1px; }
  #resume .resume-content .resume-experience-content {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    border-right: #333 solid 1px;
    border-bottom: #333 solid 1px; }
    #resume .resume-content .resume-experience-content p {
      text-align: left;
      margin-bottom: 5px; }
    #resume .resume-content .resume-experience-content .duration {
      text-align: center; }
  #resume .resume-content .resume-project {
    grid-row: 3 / span 1;
    border-right: #333 solid 1px;
    border-bottom: #333 solid 1px; }
  #resume .resume-content .resume-project-content {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    border-right: #333 solid 1px;
    border-bottom: #333 solid 1px; }
    #resume .resume-content .resume-project-content p {
      text-align: left;
      margin-bottom: 5px; }
  #resume .resume-content i {
    color: #45c7ee; }

#resume .resume-title {
  font-size: 1.5rem;
  padding: 5px; }

#resume p {
  font-size: 1rem;
  padding: 5px; }

#about-a .about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio"
 "aw1 aw2 aw3";
  grid-gap: 1.2rem; }
  #about-a .about-info img {
    border-radius: 50%;
    filter: grayscale(100%); }

#about-a .bio-image {
  grid-area: bioimage; }

#about-a .bio {
  grid-area: bio;
  border-left: 3px solid #25d7e4;
  padding: 1.8rem;
  text-align: left; }
  #about-a .bio #bio-1 {
    font-size: 1.3rem;
    font-weight: bold; }
  #about-a .bio #bio-2 {
    font-size: 1.3rem;
    font-weight: bold; }
  #about-a .bio #bio-3 {
    font-size: 1.3rem;
    font-weight: bold; }

#about-a .award-1 {
  grid-area: aw1; }

#about-a .award-2 {
  grid-area: aw2; }

#about-a .award-3 {
  grid-area: aw3; }

#about-a .award-1 .fas,
#about-a .award-2 .fas,
#about-a .award-3 .fas {
  color: #25d7e4;
  margin: 1rem; }

#about-b .progress {
  overflow: hidden;
  height: 20px;
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 0.3rem; }
  #about-b .progress div {
    height: 100%;
    color: #fff;
    text-align: center;
    background: #45c7ee; }

#about-c .about-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }
  #about-c .about-logos img {
    width: 55%; }

#about-d .testimonials {
  display: grid;
  grid-template-areas: "t1 t2 t3"
 "c1 c2 c3 ";
  grid-gap: 0.5rem; }
  #about-d .testimonials #title1 {
    grid-area: t1; }
  #about-d .testimonials #title2 {
    grid-area: t2; }
  #about-d .testimonials #title3 {
    grid-area: t3; }
  #about-d .testimonials #content1 {
    grid-area: c1; }
  #about-d .testimonials #content2 {
    grid-area: c2; }
  #about-d .testimonials #content3 {
    grid-area: c3; }
  #about-d .testimonials ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem; }
  #about-d .testimonials li {
    padding: 0.3rem; }
  #about-d .testimonials i {
    color: rgba(11, 192, 20, 0.705);
    padding-right: 5px; }
  #about-d .testimonials p {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem; }
  #about-d .testimonials img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem; }

#contact-a .text-fields {
  display: grid;
  grid-template-areas: "name email"
 "subject phone"
 "message message";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem; }
  #contact-a .text-fields .name-input {
    grid-area: name; }
  #contact-a .text-fields .subject-input {
    grid-area: subject; }
  #contact-a .text-fields .email-input {
    grid-area: email; }
  #contact-a .text-fields .phone-input {
    grid-area: phone; }
  #contact-a .text-fields .message-input {
    grid-area: message;
    height: 100px; }
  #contact-a .text-fields .text-input {
    padding: 0.5rem 1rem; }

#contact-a button[type="submit"] {
  width: 50%; }

#contact-b .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }

#contact-c h1 {
  text-align: center;
  font-size: 4rem; }

#main-footer {
  background: #333;
  color: #fff;
  height: 5rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    font-size: 1.1rem; }
    #main-footer .footer-content span {
      color: #45c7ee; }
    #main-footer .footer-content .social .fab {
      margin-right: 1rem;
      border: 2px #fff;
      background: #fff;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      line-height: 35px;
      text-align: center;
      padding: 0.5rem;
      transition: all 0.5s ease-in-out; }
      #main-footer .footer-content .social .fab:hover {
        background: #45c7ee; }

@media (max-width: 800px) {
  #header-home {
    height: 30rem; }
    #header-home .header-content {
      padding-top: 5rem; }
  #main-footer {
    height: 7rem; }
    #main-footer .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
      font-size: 1rem; }
      #main-footer .footer-content .social .fab {
        height: 25px;
        width: 25px;
        line-height: 25px; } }

@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center; }
    #main-nav li {
      padding: 0.5rem; }
  #home-nav {
    position: relative;
    flex-direction: column;
    align-items: center; }
    #home-nav li {
      padding: 0.5rem; }
  #header-home {
    height: 10rem;
    border-bottom: 3px solid #45c7ee;
    background-position: 20% 30%; }
    #header-home .header-content {
      display: none; }
  #header-inner {
    height: 10rem; }
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr; }
  #home-a .specials div {
    border-bottom: 1px #f4f4f4 solid;
    padding-bottom: 1rem; }
    #home-a .specials div:last-child {
      border: none;
      padding-bottom: 0; }
  #home-b .stats div {
    padding: 2rem 0 1rem 0; }
  #resume .resume-content {
    grid-template-columns: 1fr; }
    #resume .resume-content .resume-education {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1; }
    #resume .resume-content .resume-education-content {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1; }
    #resume .resume-content .resume-experience {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1; }
    #resume .resume-content .resume-experience-content {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1; }
    #resume .resume-content .resume-project {
      grid-column: 1 / span 1;
      grid-row: 5 / span 1; }
    #resume .resume-content .resume-project-content {
      grid-column: 1 / span 1;
      grid-row: 6 / span 1; }
  #about-a .about-info {
    grid-template-areas: "bioimage"
 "bio"
 "aw1"
 "aw2"
 "aw3"; }
  #about-c {
    display: none; }
  #about-d .testimonials {
    grid-template-areas: "t1"
 "c1"
 "t2"
 "c2"
 "t3"
 "c3"; }
  #work-a .items .item-text span {
    display: none; }
  #contact-a .text-fields {
    grid-template-areas: "name"
 "subject"
 "email"
 "phone"
 "message"; }
  #contact-b div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px #555 solid; }
    #contact-b div:last-child {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0; }
  #contact-c h1 {
    font-size: 2rem; }
  #main-footer {
    height: 7rem; }
    #main-footer .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
      font-size: 1rem; }
      #main-footer .footer-content .social .fab {
        height: 25px;
        width: 25px;
        line-height: 25px; } }

@media (max-height: 500px) {
  #header-home .header-content {
    padding-top: 3rem; } }

@media (max-height: 350px) {
  #header-home .header-content h1 {
    font-size: 2rem; } }
